apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
  labels:
    app: nginx
spec:
  replicas: 3
  selectors:
    matchLable:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      cotainer:
      - name: ngix-container
        image: nginx-latest
        ports:
        - containerPort: 80
